.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.font-pink {
    color: #FF4081;
}

.card-total {
    width: 100%;
    max-width: 1200px;
    border-color: #FCD8E9;
}

.card-header {
    background-color: #FF4081;
    color: #fff;
    padding-left: 40px;
    padding-top: 10px;
}

.card-body {
    display: flex;
}

.borda {
    border-color: #FCD8E9;
}

.btn-rosa {
    background-color: #FCD8E9;
    color: #e6376b;
}

.btn-rosa:hover {
    background-color: #FF4081;
    color: #fff;
}

.btn-fechar {
    border: #FCD8E9 solid 1px;
}

.btn-salvar {
    background-color: #e6376b;
    color: #fff;
}
.btn-encerrar{

    background-color: #e6376b;
    color: #fff;
}

.table th, .table td {
    vertical-align: middle;
}

.col-md-4 {
    padding-right: 20px;
}

.col-md-8 {
    padding-left: 20px;
}
.botoes{
    display: flex;
    height: auto;
    width: auto;
}
.botao1{
    margin-top: 10px;
    margin-left: 450px;
    
    padding-bottom: 40px;
}
.botao2{
    margin-top: 10px;
    margin-left: 40px;
    height: auto;
    width: auto;
}

.boot{

    padding: 10px;
}